services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      UseInMemoryDatabase: ${USE_INMEMORY_DB:-true}
      DATABASE_URL: postgres://${POSTGRES_USER:-timetrack}:${POSTGRES_PASSWORD:-timetrack}@db:5432/${POSTGRES_DB:-timetracking}
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:7000
    ports:
      - "7000:7000"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      PORT: 3000
      HOST: 0.0.0.0
      NODE_ENV: production
    ports:
      - "3000:3000"
    
volumes:
  db_data_dev: